@charset "UTF-8";
body {

    background-color: rgb(141, 113, 137);
}
h1 {
    color: antiquewhite;
}
h2 {
  color: rgb(13, 216, 216);  
  background-color: rgb(170, 21, 83);
   }
   p {
      text-align: justify;
   }